@font-face {
  font-family: 'TossFace';
  src: url('/fonts/TossFaceFontWeb.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  /* Emoji Unicode Range */
  unicode-range:
    U+1F000-1F644, U+1F648-1F64D, U+1F650-1F6CC, U+1F6D0-1F6D2, U+1F6EB-1F6EC,
    U+1F700-1F773, U+1F780-1F7D8, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859,
    U+1F860-1F887, U+1F890-1F8AD, U+1F900-1F90B, U+1F90F-1F93A, U+1F93C-1F945,
    U+1F947-1F978, U+1F97A-1F9CB, U+1F9CD-1F9FF, U+1FA70-1FA74, U+1FA78-1FA7A,
    U+1FA80-1FA86, U+1FA90-1FA9F, U+1FAA0-1FAA8, U+1FAB0-1FAB6, U+1FAC0-1FAC2,
    U+1FAD0-1FAD6, U+1FB00-1FBFF, U+1FC00-1FFFD, U+200D, U+203C, U+2049, U+2122,
    U+2139, U+2194-2199, U+21A9-21AA, U+231A-231B, U+2328, U+23CF, U+23E9-23F3,
    U+23F8-23FA, U+24C2, U+25AA-25AB, U+25B6, U+25C0, U+25FB-25FE, U+2600-2604,
    U+260E, U+2611, U+2614-2615, U+2618, U+261D, U+2620, U+2622-2623, U+2626,
    U+262A, U+262E-262F, U+2638-263A, U+2640, U+2642, U+2648-2653, U+265F-2660,
    U+2663, U+2665-2666, U+2668, U+267B, U+267F, U+2692-2697, U+2699,
    U+269B-269C, U+26A0-26A1, U+26AA-26AB, U+26B0-26B1, U+26BD-26BE,
    U+26C4-26C5, U+26C8, U+26CE-26CF, U+26D1, U+26D3-26D4, U+26E9-26EA,
    U+26F0-26F5, U+26F7-26FA, U+26FD, U+2702, U+2705, U+2708-270D, U+270F,
    U+2712, U+2714, U+2716, U+271D, U+2721, U+2728, U+2733-2734, U+2744, U+2747,
    U+274C, U+274E, U+2753-2755, U+2757, U+2763-2764, U+2795-2797, U+27A1,
    U+27B0, U+27BF, U+2934-2935, U+2B05-2B07, U+2B1B-2B1C, U+2B50, U+2B55,
    U+3030, U+303D, U+3297, U+3299;
}

/* 
  Fallback class if needed specifically 
*/
.tossface {
  font-family: 'TossFace', sans-serif;
}
